.btn-informacion{
    cursor: pointer;
}

.nav-link{
    cursor: pointer;
}

.container-aplicacion {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .nav-link.active {
    color: #c7c8c9;
  }

  .btn{
    text-transform: uppercase;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}