<div class="fab-container d-flex flex-column align-items-center h-100 py-4" style="overflow-y: auto; max-height: 1000px;">
    <div class="card col-lg-10 col-xl-8  col-11 col-md-10 col-sm-11 text-bg-light p-3 mb-2">
        <h1 class="mx-auto">Listado de empleados</h1>
        <hr class="hr-text">
        <h5 class="mx-auto text-center text-muted">Puede gestionar empleados y ver sus detalles cliqueando sobre alguno de ellos.</h5>
    </div>
    <div class="card col-lg-10 col-xl-8  col-11 col-md-10 col-sm-11 mb-4 text-bg-light">
        <div class="card-body">     
            <app-tabla-empleados></app-tabla-empleados>
        </div>
    </div>
</div>