:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #38ef7d, #11998e);
}
h1{
    color: #0d574f;
}

.card {
    border-radius: 12px;
}

.spinner-activado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner-desactivado {
    display: none;
}