:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #11998e, #38ef7d);
}
.card {
    border-radius: 12px;
}

.ng-invalid:not(form)  {
    border-right: 5px solid #e74c3c; 
  }

  .spinner-activado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner-desactivado{
    display: none;
}

.btn-crear {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #0e8c7e; 
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #0b7568;
    --bs-btn-border-color: #0e8c7e; 
    --bs-btn-hover-border-color: #0b7568; 
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #096257;
    --bs-btn-active-border-color: #096257;
    --bs-btn-disabled-border-color: #096257;
    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #096257;
    
    font-size: larger;
    text-transform: uppercase;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-resetear{
    --bs-btn-active-border-color: #00000000;
    color: #0d574f;
}


.icono{
    color: #096257;
}

h1{
    color: #0d574f;
}

